// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

$phone: 375px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-lg: 1200px;
$accent-colour: #005a5b;
$light-grey: #b6b6b6;

@mixin sm {
   @media (min-width: #{$phone}) {
       @content;
   }
}

@mixin md {
   @media (min-width: #{$tablet}) {
       @content;
   }
}

@mixin lg {
   @media (min-width: #{$desktop-sm}) {
       @content;
   }
}

@mixin xl {
   @media (min-width: #{$desktop-lg}) {
       @content;
   }
}


html, body {
 	scroll-behavior: smooth;
	font-family: neue-haas-grotesk-display, sans-serif;
	letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300; 
    font-size:12px; 
}

a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

	&:hover {
	   color:$accent-colour;
	}
}

p {
	margin: 0;
	padding: 0;
	color:rgba(0, 0, 0, 0.6)
}

ul {
	list-style: none;
    padding-inline-start: 0;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding:10px; 

    @include md {
		display: flex; 
    }
}

.sidebar {
    @include md {
		position: fixed; 
    	width: 25%;
    	min-height: 95vh;
    	padding-left: 10px; 
    	display:flex;
    	justify-content:space-between;
    	flex-direction:column;
    }

    .name {
	    font-size: 22px;
	    letter-spacing: 1.5px;
	    color:$accent-colour;
    }

    .bio {
    	margin-top:5px;
    }

	.interests {
		margin-top: 25px; 
	}

    .contact {
    	display:flex;
    	flex-direction:column;

    	.availability {
    		margin-bottom: 25px; 
    	}
    }

   //  .menu {
   //  	display: none; 
   //  	padding-top: 40px; 
	  //   text-transform: uppercase;
	  //   letter-spacing: 1.2px;
	  //   cursor: pointer;

	  //   @include md {
	  //   	display: block;
	  //   }

	  //   span {
	  //   	font-size: 1.6rem;
			// margin-right: 5px;
	  //   }

	  //   a {
	  //   	display: flex;
			// align-items: center;
			// margin: 0;
			// padding: 0;
		 //    margin-bottom: -5px;

			// &:hover {
			// 	color: burlywood;
			// }
	  //   }
   //  }
}

.scroll {
	@include md {
		width: 75%;
        margin-left: auto;
	}
}

.posts {
	&__container {
		padding-top: 40px;

		@include md {
			padding-top: 0; 
			margin: auto;
			overflow-y:scroll; 
		}

		img {
			cursor: pointer;
			object-fit: cover;
		}
	}
}

.post {
	&__information {
		padding-bottom: 25px;
		margin-top: 5px;
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 25px; 

		@include md {
			display: flex;
		    flex-direction: column;
		}

		.introduction {
			margin-top:10px;

			@include md {
				display:flex;
				justify-content:space-between;
			}
		}

		.feature {
			background-color: $light-grey;
		    padding: 0 3px;
		    color: white;
		    opacity:0.8;
		}

		.description {
			padding-top: 10px;

			p:first-child {
				margin-bottom:10px;

				@include md {
					margin-bottom:0;
				}
			}

			@include md {
				padding-top: 0px;
				display: grid;
			    grid-template-columns: 1fr 1fr;
			    grid-column-gap: 40px;
			}
		}

		.title {
			font-weight: bold;
			padding-bottom: 10px; 
		}

		.link__wrapper {
			text-align:right;
		}

		.link {
			text-decoration: underline;
		    margin-right: 10px;
		}
	}		
}


